<div class="row my-4 mx-auto" >
  <div class="col-md-9">
    <h3 class="ms-4 fw-bold">List of Tasks</h3>
  </div>
  <div class="col-md-3 text-right">
    <button class="btn btn-dark btn-sm ">
      <i class="fas fa-plus me-2"></i> New Task
    </button>
  </div> 
</div>


<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="form-group">
      <label for="label" class="fw-bold text-capitalize h4 ">label</label>
      <input type="text" class="form-control mt-1" id="label">
    </div>

    <div class="from-check my-2 fw-bold "><label for="" class="form-check-label"></label><input type="checkbox" name="" id="" class="form-check-input me-2 ">Completed
    </div>
    <div class="d-grid gap-3">
    <button class="btn btn-success mb" type="button"><i class="fas fa-paper-plane me-2"></i>New Task</button></div>

  </div>
</div>


  




<div class="row">
  <div class="col-md-6 mx-auto mt-3 fw-bold h4">
    List of Tasks
  </div>
</div>